.dead-simple-contact-form {
	width: 66.6%;
	float: left;
	clear: both;
	margin-bottom: 1.5rem;
	position: relative;
}
.dead-simple-contact-form label {
	clear: both;
	float: left;
	width: 100%;
	font-weight: bold;
	line-height: 1.5;
}
.dead-simple-contact-form input[type="text"], 
.dead-simple-contact-form input[type="email"], 
.dead-simple-contact-form textarea {
	float: left;
	clear: both;
	margin-bottom: 1.5rem;
	border-radius: 0;
}
.dead-simple-contact-form input[type="text"], 
.dead-simple-contact-form input[type="email"] {
	width: 70%;
	min-height: 1.5rem;
	line-height: 1.5;
}
.dead-simple-contact-form textarea {
	width: 100%;
	height: 10rem;
}
.dead-simple-contact-form .humanity-check {
	clear: both;
	margin-bottom: 1.5rem;
}
.dead-simple-contact-form .humanity-check input[type="number"] {
	width: 50px;
	clear: left;
	float: left;
	text-align: center;
	margin-right: 2px;
	min-height: 1.5rem;
	line-height: 1.5;
}
.dead-simple-contact-form input[type="submit"] {
	width: 20%;
	min-height: 1.5rem;
	line-height: 1.5;
	padding: .75rem;
}
@media( max-width: 1050px ) {
	.dead-simple-contact-form {
		float: left;
		clear: both;
		margin-left: 0;
		margin-top: 3rem;
		width: 70%;
	}
}
@media( max-width: 700px ) {
	.dead-simple-contact-form {
		width: 100%;
	}
}

.widget .dead-simple-contact-form label {
	clear: both;
	float: left;
	width: 100%;
	font-weight: bold;
	line-height: 1.5;
}
.widget .dead-simple-contact-form input[type="text"], 
.widget .dead-simple-contact-form input[type="email"], 
.widget .dead-simple-contact-form textarea {
	float: left;
	clear: both;
	margin-bottom: 1.5rem;
}
.widget .dead-simple-contact-form input[type="text"], 
.widget .dead-simple-contact-form input[type="email"] {
	width: 70%;
	min-height: 1.5rem;
	line-height: 1;
}
.widget .dead-simple-contact-form textarea {
	width: 100%;
	height: 6rem;
}
.widget .dead-simple-contact-form .humanity-check {
	clear: both;
	margin-bottom: 1.5rem;
}
.widget .dead-simple-contact-form .humanity-check input[type="number"] {
	width: 50px;
	clear: left;
	text-align: center;
	margin-right: 2px;
}
.widget .dead-simple-contact-form input[type="submit"] {
	width: 40%;
	height: 1.5rem;
	line-height: 1.5;
	padding: 0;
}